@import '../src/UtilsStyles.module.scss';

.FavouritedFlag {
  &_no {
    padding: 0 0 0 $px_small;
  }

  &_yes {
    @extend .FavouritedFlag_no;
    fill: red;
  }

  & button {
    background-color: transparent;
    border: none;
  }
}
