@import '../src/UtilsStyles.module.scss';

.ShoppingCartItem {
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  padding: $px_small $px_medium $px_medium $px_medium;
  width: 320px;

  &_remove {
    @include displayFlex(row, flex-end);
  }

  &_productImage {
    width: 180px;
    border-radius: $px_medium;

    @media only screen and (max-width: $media_max_width) {
      width: 130px;
    }
  }

  &__productDetails {
    padding-top: $px_small;
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: $px_medium;

    @media only screen and (max-width: $media_max_width) {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      gap: $px_medium;
    }
  }

  &__qtyPanel {
    margin-top: $px_small;
    margin-bottom: $px_medium;

    & div {
      margin-top: $px_xsmall;

      & input {
        height: $px_large;
        width: 70px;
        font-size: large;
        text-align: center;
        border: 1px solid lightgray;
      }
    }
  }

  & label {
    font-weight: bold;
  }

  &__warning {
    color: green;
    font-weight: bold;
    margin-top: $px_medium;
    width: 75px;
  }
}

.display_none {
  display: none;
}

//SOURCE:https: //www.w3schools.blog/css-hide-number-input-arrows
input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  opacity: 1;
}
