@import '../src/UtilsStyles.module.scss';

.HeaderLinks {
  position: relative;
  @include displayFlex(row, space-between);

  & a {
    text-decoration: none;
  }

  & div {
    //SOURCE: https://blog.logrocket.com/five-cool-css-header-styles-with-cross-browser-compatibility/
    font-size: 50px;
    font-weight: 600;
    font-family: 'Niconne', cursive;
    color: rgb(143, 228, 216);
    text-shadow: 2px 2px 0px black, 4px 4px 0px gold, 6px 6px 0px blue,
      8px 8px 0px gold;
  }

  & label {
    position: relative;
    top: -45px;
    left: -20px;
    color: red;
    font-size: large;
    font-weight: bold;
  }
}
