@import '../src/UtilsStyles.module.scss';

.App {
  padding: 2rem;
  max-width: 1200px;
  @include displayFlex(column, center);

  @media only screen and (max-width: $media_max_width) {
    max-width: 100vw;
    padding: 1rem;
  }
}
