@import url('https://fonts.googleapis.com/css?family=Montserrat|Courgette');
@import '../src/UtilsStyles.module.scss';

html {
  font-family: 'Montserrat', sans-serif;
}

body {
  padding: 0;
  margin: 0;
  @include displayFlex(column, center, center);
}
