@import '../src/UtilsStyles.module.scss';

.ShoppingCartPage {
  @include displayFlex(column);
  width: 100vw;

  @media only screen and (max-width: $media_max_width) {
    width: 100%;
  }

  & header {
    max-width: 1200px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;

    @media only screen and (max-width: $media_max_width) {
      max-width: 100%;
      margin-top: 30px;
    }
  }

  &__checkoutPanel {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
  }

  &_proceedToCheckout {
    background-color: orange;
    color: white;
    font-size: large;
    border: none;
    height: 50px;
    padding: 0 20px 0 20px;
    cursor: pointer;

    @media only screen and (max-width: $media_max_width) {
      height: fit-content;
      width: 130px;
      padding: 0;
    }
  }

  & section {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: flex-start;
  }
}
